{{#partial "content"}}

    <div class="page-header">
        <h1 style="text-align:center">Wildlife tracker</h1>
    </div>



    <div class="well">
        {{#if animals}}
            {{#each animals}}
                <p> Animal's name: {{ name }} </p>
            {{/each}}
        {{/if}}
    </div>

    <div class="well">
        {{#if sightings}}
            {{#each sightings}}
                <p> Animal's name: {{aname}} </p>
                <p> Animal's health: {{ health }} </p>
                <p> Animal's age: {{ age }} </p>
                <p> Animal's location: {{ location }} </p>
                <p> Ranger Name: {{ rangename }} </p>
            {{/each}}
        {{/if}}
    </div>





{{/partial}}

{{> Layout.hbs}}