{{#partial "content"}}


    <div class="well">
        {{#if animals}}
            {{#each animals}}
                <p> Animal's name: {{ name }} </p>
            {{/each}}
        {{/if}}
    </div>

    <div class="well">
        {{#if sightings}}
            {{#each sightings}}
                <p> Animal's name: {{aName}} </p>
                <p> Animal's location: {{ location }} </p>
<!--                <p> Animal's rangeName: {{ rangeName }} </p>-->
<!--                <p> Animal's rangeName: {{ rangeName }} </p>-->
            {{/each}}
        {{/if}}
    </div>





{{/partial}}

{{> Layout.hbs}}